{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true,
    "ci": false
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "array-callback-return": "off"
  }
}
